body {
  margin: 0;
  font-family: 'IRANSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'IRANSans';
  src: url('./fonts/IRANSansXLight.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'IRANSans';
  src: url('./fonts/IRANSansXRegular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'IRANSans';
  src: url('./fonts/IRANSansXBold.ttf') format('truetype');
  font-weight: 700;
}

